<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 100px;
        }

        #about {
            padding-top: 48px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            margin-bottom: 30px;
            height: 40px;
            background-color: #4169E1;
        }

        .footer p {
            line-height: 40px;
            color: white;
        }
    </style>
</head>

<body>
    <footer class="footer">
        <div class="container">
            <p class="text-center text-muted">© Copyright 2019</p>
        </div>
    </footer>
</body>

</html>