<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!-- TODO: insert links here-->
    <ul>
        <footer class="footer">
            <div class="container">
                <p>
                    <strong>Kennzahlen</strong> by <a style="color:black"
                        href="https://www.leitstelle-lausitz.de/">Leitstelle Lausitz</a>.
                    The source code is licensed
                    <a style="color:black" href="http://opensource.org/licenses/mit-license.php">?</a>. The website
                    content
                    is licensed <a style="color:black" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">?</a>.
                </p>
            </div>
        </footer>
    </ul>
</body>

</html>