<!-- 
Simple footer element. Displays credit and licenses. 
Can be easily made bigger and added new elements if needed.
-->

<body>
    <ul>
        <footer class="footer">
            <div class="container">
                <p>
                    <strong>Kennzahlen</strong> von <a style="color:black"
                        href="https://www.leitstelle-lausitz.de/">Leitstelle Lausitz</a>.
                    Lizensiert unter
                    <a style="color:black" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
            </div>
        </footer>
    </ul>
</body>