<!-- Simple header, has some navigation elements and displays currently logged in username. -->

<body>
	<ul>
		<li><a class="active" href="/home">Kennzahlen-System</a></li>
		<li><a href="/logout">Logout (<%- user -%>)</a></li>
		<li style="float:right"><a href="/about">About</a></li>
		<li style="float:right"><a href="/admin">Admin</a></li>
		<li style="float:right"><a href="/help">Hilfe</a></li>
	</ul>
</body>