<!-- Head, imported in almost every page. Loads stylesheet and has information for top-padding. -->

<!DOCTYPE html>
<html lang="de">
<meta charset="UTF-8">
<title>Kennzahlen-System</title>

<!-- Load some css-styles. -->
<link rel="stylesheet" type="text/css" href="<%= process.env.BASEURL %>/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<%= process.env.BASEURL %>/css/style.css">

<!-- Leave some free space at the top. -->
<style>
	body {
		padding-top: 15px;
	}
</style>
