<!-- Head, imported in almost every page. Loads stylesheet and has information for top-padding. -->

<!DOCTYPE html>
<html lang="de">
<meta charset="UTF-8">
<title>Kennzahlen-System</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<style>
	body {
		padding-top: 15px;
	}
</style>