<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<ul>
		<li><a class="active" href="/home">Kennzahlen-System</a></li>
		<li><a href="/logout">Logout (<%- user -%>)</a></li>
		<li style="float:right"><a href="/about">About</a></li>
		<li style="float:right"><a href="/admin">Admin</a></li>
	</ul>
</body>

</html>
