/* @import '/css/reset.css'; */

/* Misc */

.button {
    width: 300px;
    padding: 15px;
    border-radius: 4px;
    background-color: #535b63;
    margin-top: 15px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.misc-text {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

/* Footer */

html {
    overflow-y: scroll;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

#about {
    padding-top: 48px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    background-color: #4169E1;
}

.footer p {
    line-height: 20px;
    font-size: 14px;
    color: white;
}

/* Dropdown Menu*/

.dropdown {
    width: 30%;
    margin-bottom: 15px;
    -webkit-appearance: none;
    border: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}


.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background-color: #535b63;
    margin-bottom: 15px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/* Header */

ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    background-color: #535b63;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #535b63;
}

.active {
    background-color: #4169E1;
}

/* Submit */

.dropdownS {
    width: 20%;
    margin-bottom: 10px;
    margin: 10px;
    -webkit-appearance: none;
    border: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.login-formS {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-formS h1 {
    margin-bottom: 15px;

    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-formS input[type="password"],
.login-formS input[type="email"],
.login-formS input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-formS input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    margin-bottom: 15px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/* 404 and Login Error */

body {
    background-color: #FFF;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: -100px;
    margin-left: 50px;
    color: #535b63;
    font-weight: 300;
}

.message-box h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

.buttons-con .action-link-wrap a {
    background: #535b63;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
    background: #4169E1;
    color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }

    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}

/* User table */
table {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #4169E1;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 200px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 80%;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }

}