<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="noten">
			<h1>Hier Auswahlmenü? (Eintragen/Darstellen)</h1>
	        </div>
        <a href="/example"><button>Visualisierungen</button></a>
        <a href="/submit"><button>Daten eintragen</button></a>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>
