<!-- Displays simple about page with contact info, could maybe use more or other information. -->

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<span style="display:block; height: 10px;"></span>

		<div class="misc-text" style="margin-bottom: 15px;margin-right: 10px">
			<h3>Kontakt</h3><br>
			IRLS Cottbus /
			info@feuerwehr.cottbus.de<br>
			Franz Kroll /
			franz.kroll@b-tu.de
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>