<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<span style="display:block; height: 10px;"></span>

		<div style="text-align:center;margin-bottom: 15px;margin-right: 10px">
			IRLS Cottbus, 2019<br>
			info@feuerwehr.cottbus.de<br><br>
			Franz Kroll<br>
			franz.kroll@b-tu.de
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>