<!-- Page for adding an attribute to an existing measure. -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text" style="margin-bottom: 15px;margin-right: 10px">
            Über das Dropdown-Menü können Sie ein beliebiges Thema auswählen und mit Hilfe des Textfeldes und des
            Buttons eine neue Kennzahl zu diesem Thema hinzufügen.
        </div>

        <!-- User can select an existing measure here. -->
        <div style="text-align:center;margin-bottom: 15px;margin-right: 10px">
            <select id="graph" class="dropdownS">
                <option value="bar">Annahmezeit</option>
                <option value="bar">Anzahl der Anrufe</option>
                <option value="bar">Anzahl der Alarmierungen</option>
            </select>
        </div>

        <!-- And enter a new attribute and send it back to the server. -->
        <div class="login-formS">
            <form action="submit" method="POST">
                <input type="text" name="var1" placeholder="Eigenschaft"
                    title="Geben Sie hier eine Beschreibung für die Eigenschaft, die Sie zur Kennzahl Hinzufügen möchten, ein."
                    required>
                <input type="submit" value="Eigenschaft hinzufügen">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>