<!-- 
Page for changing already created measures., TODO:
-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <!-- Load header, every page hast this. -->
    <header>
        <% include ../partials/header %>
    </header>

    <main>
    </main>

    <!-- Load footer, every page has this. -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>