<!-- 
Page for changing already created measures.
-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <!-- Load header, every page hast this. -->
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>

        <div class="misc-text">
            Wählen Sie hier eine bereits bestehende Kennzahl aus. Danach ist es Ihnen möglich eine neue Eigenschaft zu
            dieser hinzuzufügen, zu Löschen oder eine bestehende Eigenschaft zu ändern. Name der Eigenschaft und
            Beschreibung dürfen kein Komma enthalten. Achtung: Das Löschen von Eigenschaft löscht die dazugehörigen
            Werte
            permanent! Alle Aktionen gelten jeweils für alle Jahre der Kennzahl.
        </div>

        <span style="display:block; height: 10px;"></span>

        <div class="misc-text">
            <%- text %>
        </div>

        <span style="display:block; height: 10px;"></span>

        <!-- Deletion of attributes is handled here. -->
        <div class="login-formA">
            <form style="text-align: center" method="POST">
                <!-- ATTRIBUTE DELETION -->
                <select id="measure" style="width:90%" title="Wählen Sie hier die zu bearbeitende Kennzahl aus."
                    name="measure" class="dropdownS" required></select>

                <!-- Selection menu for individual attributes. -->
                <select id="attribute" style="width:90%" title="Wählen Sie hier die zu bearbeitende Eigenschaft aus."
                    name="attribute" class="dropdownS"></select>

                <span style="display:block; height: 12px;"></span>

                <input formAction="deleteAttr" type="submit" title="Löscht die ausgewählte Eigenschaft."
                    style="width:50%" value="Eigenschaft löschen">

                <span style="display:block; height: 12px;"></span>

                <!-- CHANGING OF ATTRIBUTE -->

                <!-- Measure attribute that the user wants to add gets entered here. -->
                <input type="text" name="changeVar" id="varChange"
                    title="Geben Sie hier einen Namen für die Eigenschaft der Kennzahl ein.">

                <input type="text" name="changeDesc" id="descChange"
                    title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein.">

                <span style="display:block; height: 12px;"></span>

                <input formaction="changeAttr" type="submit"
                    title="Ändert die Eigenschaft zu der eingegeben Eigenschaft/Beschreibung." style="width:50%"
                    value="Eigenschaft ändern">

                <span style="display:block; height: 17px;"></span>

                <!-- ADDING OF ATTRIBUTE -->

                <!-- Measure attribute that the user wants to add gets entered here. -->
                <input type="text" name="var" placeholder="Neue Eigenschaft für Kennzahl"
                    title="Geben Sie hier einen Namen für die Eigenschaft der Kennzahl ein.">

                <input type="text" name="desc" value="Keine Beschreibung vorhanden."
                    title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein.">

                <span style="display:block; height: 12px;"></span>

                <input formaction="addAttr" type="submit" style="width:50%"
                    title="Fügt die eingegebene Eigenschaft der Kennzahl hinzu." value="Eigenschaft hinzufügen">
            </form>
        </div>
    </main>

    <!-- Load in needed variables. -->
    <script>
        const measureData = '<%- measureList %>';
        const descriptionData = '<%- descriptionList %>';
    </script>

    <script src="/scripts/changeMeasureHelper.js"></script>

    <!-- Load footer -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>