<!-- 
Page for changing already created measures., TODO:
-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <!-- Load header, every page hast this. -->
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Wählen Sie hier eine bereits bestehende Kennzahl aus. Danach ist es Ihnen möglich eine neue Eigenschaft zu
            dieser hinzuzufügen.
        </div>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            <%- text %>
        </div>
        <span style="display:block; height: 10px;"></span>

        <div class="login-formA">
            <form action="submit" method="POST">
                <!-- Selection menu for measure and year/month. -->
                <div style=" text-align:center;margin-bottom: 15px;margin-right: 10px">
                    <select id="measure" style="width:90%" name="measure" class="dropdownS" required></select>
                </div>

                <span style="display:block; height: 10px"></span>

                <!-- Measure attribute that the user wants to add gets entered here. -->
                <input type="text" name="var" placeholder="Neue Eigenschaft für Kennzahl"
                    title="Geben Sie hier einen Namen für die Eigenschaft der Kennzahl ein." required>
                <input type="text" name="desc" placeholder="Beschreibung der Eigenschaft"
                    title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein." required>

                <span style="display:block; height: 15px;"></span>

                <input type="submit" value="Attribut hinzufügen">
            </form>
        </div>
    </main>

    <script>
        const measureData = '<%- measureList %>';
    </script>

    <script src="/scripts/changeMeasureHelper.js"></script>

    <!-- Load footer, every page has this. -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>