<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text" style="text-align:center;margin-bottom: 10px;margin-right: 10px">
            Bitte legen Sie die jeweiligen Kennzahlen des Themas sowie einen Namen für das Thema fest.
        </div>
        <span style="display:block; height: 10px;"></span>

        <script src="/scripts/fieldCreator.js"></script>

        <div class="login-formS">
            <form action="createTheme" method="POST">
                <input type="text" name="var1" placeholder="Name des Themas"
                    title="Legen Sie hier einen Namen für das Thema fest, ein Thema enthält mehrere Kennzahlen"
                    required>
                <span style="display:block; height: 5px;"></span>
                <input type="text" name="role" placeholder="Rollen"
                    title="Legen Sie hier die Rollen fest, die das Thema bearbeiten dürfen." required>
                <span style="display:block; height: 5px;"></span>
                <div id="container">
                    <input type="text" name="var1" placeholder="Kennzahl 1"
                        title="Geben Sie hier eine Beschreibung für die Kennzahl des Themas ein." required>
                </div>
                <input class="button" style="width:300px" type="button" value="Eigenschaft hinzufügen" id="add" />
                <span style="display:block; height: 15px;"></span>

                <input type="submit" value="Thema erstellen">

            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>