<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Kennzahlen System</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="" style="text-align:center;margin-bottom: 10px;margin-right: 10px;margin-top:10px">
            Bitte legen Sie die jeweiligen Kennzahlen des Themas sowie einen Namen für das Thema fest.
        </div>
        <span style="display:block; height: 15px;"></span>
        <div class="login-formS">
            <form action="create" method="POST">
                <input type="text" name="var1" placeholder="Name des Themas" required>
                <span style="display:block; height: 15px;"></span>
                <input type="text" name="var1" placeholder="Eigenschaft 1" required>
                <input type="text" name="var2" placeholder="Eigenschaft 2" required>
                <input type="text" name="var3" placeholder="Eigenschaft 3" required>
                <input type="text" name="var4" placeholder="Eigenschaft 4" required>
                <input type="text" name="var5" placeholder="Eigenschaft 5" required>
                <input type="text" name="var6" placeholder="Eigenschaft 6" required>
                <span style="display:block; height: 15px;"></span>
                <input type="submit" value="Thema erstellen">
            </form>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>