<!-- Page for entering a new measure and all the information it needs to be created. -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <!--TODO: Maybe add option for daily measures. -->

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text" style="text-align:center;margin-bottom: 10px;margin-right: 10px">
            Bitte legen Sie die jeweiligen Eigenschaften, sowie einen Namen, Jahr und Erfassungszyklus für die Kennzahl
            fest. In Namen und Beschreibungen der Kennzahl darf kein Komma enthalten sein. Sollen Prozentschwellen in
            Diagrammen erscheinen geben Sie sie bitte folgendermaßen ein: [[X%]]. Tauschen Sie dabei X mit dem
            gewünschten
            Prozentwert.
        </div>
        <!-- Adds new text fields for attributes to the canvas. -->
        <div class="misc-text"> <%- text -%></div>
        <span style="display:block; height: 15px;"></span>

        <div class="login-formS">
            <form action="createMeasure" method="POST" style="text-align: center">
                <!-- Field for setting name of the measure. -->
                <input type="number" step="0.01" name="id" placeholder=" ID"
                    title="Legen Sie hier eine ID für die Kennzahl fest. (Eine Zahl oder zwei Zahlen getrennt durch einen Punkt.)"
                    required>

                <!-- Field for setting name of the measure. -->
                <input type="text" name="name" placeholder="Name der Kennzahl"
                    title="Legen Sie hier einen Namen für die Kennzahl fest, ein Name darf nur einmal verwendet werden."
                    required>

                <!-- Field for setting year of the measure. -->
                <input type="number" name="year" placeholder="Erfassungsjahr"
                    title="Legen Sie hier das Erfassungsjahr, dass Sie erstellen wollen fest. Wird die Kennzahl jährlich erfasst lassen Sie dieses Feld frei.">

                <!-- Field for setting name of the measure. -->
                <input type="text" name="mainDesc" placeholder="Beschreibung der Kennzahl"
                    title="Legen Sie hier eine Beschreibung für die Kennzahl fest." required>

                <p>Wie soll der Jahreswert berechnet werden?</p>
                <fieldset id='calc' name="calc">
                    <input type="radio" id="sum" name="sumCalc" value="sum">
                    <label for="sum"> Summierung</label>&nbsp&nbsp
                    <input type="radio" id="median" name="sumCalc" value="median">
                    <label for="median"> Durchschnitt</label>
                    <br>
                    <input type="radio" id="self" name="sumCalc" value="self" checked>
                    <label for="median"> Manuell</label>
                </fieldset>

                <span style="display:block; height: 10px;"></span>

                <div class="misc-text">
                    Hier können Sie eine neue Rolle und Mandat eingeben, oder eine bestehende aus dem Auswahlmenü
                    auswählen.
                </div>
                <input type="text"
                    title="Legen Sie hier eine Rolle für den Benutzer fest. Mehrere Rollen müssen durch einen Unterstrich getrennt werden."
                    name="role" list="roles" placeholder="Rolle" style="margin-top:17px" />
                <datalist id="roles"></datalist>
                <input type="text"
                    title="Legen Sie hier ein Mandat für den Benutzer fest. * gibt Zugriff auf alle Bereiche. Mehrere Mandate müssen durch einen Unterstrich getrennt werden."
                    name="mandate" list="mandates" placeholder="Mandat" required />
                <datalist id="mandates"></datalist>

                <!-- Dropdown menu for selecting input-cycle for the measure data. -->
                <div class="misc-text" style="margin-bottom: 10px">
                    Erfassungzyklus:
                    <select style="text-align:left; width:50%;" id="cycle" name="cycle" id="cycle" class="dropdownS"
                        required>
                        <option value="monthly">monatlich</option>
                        <option value="quarterly">quartalsweise</option>
                        <option value="yearly">jährlich</option>
                    </select>
                </div>


                <div class="misc-text">
                    Hier werden alle Attribute für die Kennzahl festgelegt. Attribut-Namen dürfen nicht mehrfach
                    verwendet werden, ebenso darf nicht der Kennzahlname als Attributname verwendet werden.
                </div>

                <span style="display:block; height: 15px;"></span>

                <!-- If need new attribute fields are added here. -->
                <div id="container">
                    <input type="text" name="var1" placeholder="Eigenschaft 1"
                        title="Geben Sie hier einen Namen für die Eigenschaft der Kennzahl ein." required>
                    <input type="text" name="desc1" placeholder="Beschreibung von Eigenschaft 1"
                        title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein."
                        value="Keine Beschreibung vorhanden">
                </div>

                <!-- Buttons for adding and deleting text fields. -->
                <div>
                    <input style="text-align:center;width:47.5%;margin-right:10px"
                        title="Fügt ein neues Eigenschaftsfeld hinzu." class="button" type="button" value="Neues Feld"
                        id="add" />
                    <input style="width:47.5%" class="button" type="button" title="Löscht das letzte Eigenschaftsfeld."
                        value="Feld löschen" id="delete" />
                </div>

                <span style="display:block; height: 20px;"></span>

                <!-- Submits data to server. -->
                <input type="submit" title="Hinterlegt die neue Eigenschaft im System." value="Thema erstellen">
            </form>
        </div>
    </main>

    <!--Load in lists and helper script -->
    <script>
        let roleList = '<%- roleList%>';
        let mandateList = '<%- mandateList %>';
    </script>
    <script src="<%= process.env.BASEURL %>/scripts/createMeasureHelper.js"></script>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
