<!DOCTYPE html>
<html lang="en">

<!-- Page for entering a new measure and all the information it needs to be created. -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text" style="text-align:center;margin-bottom: 10px;margin-right: 10px">
            Bitte legen Sie die jeweiligen Kennzahlen des Themas sowie einen Namen für das Thema fest.
        </div>
        <span style="display:block; height: 10px;"></span>

        <!-- Adds new text fields for attributes to the canvas. -->
        <script src="/scripts/fieldCreator.js"></script>


        <div class="login-formS">
            <form action="createTheme" method="POST">
                <!-- Theme for the measure, can be added as text. TODO: maybe add dropdown menu with existing themes. -->
                <input type="text" name="var1" placeholder="Zuordnung zu Thema"
                    title="Geben Sie hier ein Thema ein, zu dem diese Kennzahl zugeordnet ist." required>

                <span style="display:block; height: 5px;"></span>

                <!-- Fields for entering roles. TODO: maybe change to dropdown menu? but how to add new roles then? -->
                <input type="text" name="role" placeholder="Rollen"
                    title="Legen Sie hier die Rollen fest, die das Thema bearbeiten dürfen. (user, submit)." required>

                <span style="display:block; height: 5px;"></span>

                <!-- Field for setting name of the measure. -->
                <input type="text" name="var1" placeholder="Name der Kennzahl"
                    title="Legen Sie hier einen Namen für die Kennzahl fest, die Kennzahl enthält mehrere Eigenschaften."
                    required>

                <!-- Dropdown menu for selecting input-cycle for the measure data. -->
                <div class="misc-text" style="margin-bottom: 10px">
                    Erfassungzyklus:
                    <select style="text-align:left; width:50%;" id="cycle" class="dropdownS">
                        <option value="val1">monatlich</option>
                        <option value="val2">quartalsweise</option>
                        <option value="val3">jährlich</option>
                    </select>
                </div>


                <span style="display:block; height: 5px;"></span>

                <!-- If need new attribute fields are added here. -->
                <div id="container">
                    <input type="text" name="var1" placeholder="Eigenschaft 1"
                        title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein." required>
                </div>

                <input class="button" style="width:300px" type="button" value="Eigenschaft hinzufügen" id="add" />

                <span style="display:block; height: 15px;"></span>

                <!-- Submits data to server. -->
                <input type="submit" value="Thema erstellen">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>