<!-- Page for entering a new measure and all the information it needs to be created. -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text" style="text-align:center;margin-bottom: 10px;margin-right: 10px">
            Bitte legen Sie die jeweiligen Kennzahlen des Themas sowie einen Namen für das Thema fest.
        </div>
        <!-- Adds new text fields for attributes to the canvas. -->
        <script src="/scripts/fieldCreator.js"></script>
        <div class="misc-text"> <%- text -%></div>
        <span style="display:block; height: 15px;"></span>

        <div class="login-formS">
            <form action="createMeasure" method="POST" style="text-align: center">
                <!-- Field for setting name of the measure. -->
                <input type="number" step="0.01" name="id" placeholder=" ID"
                    title="Legen Sie hier eine ID für die Kennzahl fest. (Zwei Zahlen getrennt durch einen Punkt)"
                    required>

                <!-- Field for setting name of the measure. -->
                <input type="text" name="name" placeholder="Name der Kennzahl"
                    title="Legen Sie hier einen Namen für die Kennzahl fest, die Kennzahl enthält mehrere Eigenschaften."
                    required>

                <!-- Field for setting year of the measure. -->
                <input type="number" name="year" placeholder="Erfassungsjahr"
                    title="Legen Sie hier das Erfassungsjahr, dass Sie erstellen wollen fest." required>

                <!-- Field for setting name of the measure. -->
                <input type="text" name="mainDesc" placeholder="Beschreibung der Kennzahl"
                    title="Legen Sie hier eine Beschreibung für die Kennzahl fest." required>

                <!-- Field for setting name of the measure. -->
                <input type="text" name="role" placeholder="Rolle"
                    title="Geben Sie eine Rolle ein, die die Kennzahl bearbeiten darf." required>

                <!-- Dropdown menu for selecting input-cycle for the measure data. -->
                <div class="misc-text" style="margin-bottom: 10px">
                    Erfassungzyklus:
                    <!-- TODO: quarterly measures -->
                    <select style="text-align:left; width:50%;" name="cycle" id="cycle" class="dropdownS">
                        <option value="monthly">monatlich</option>
                        <option value="quarterly">quartalsweise</option>
                    </select>
                </div>

                <span style="display:block; height: 5px;"></span>

                <!-- If need new attribute fields are added here. -->
                <div id="container">
                    <input type="text" name="var1" placeholder="Eigenschaft 1"
                        title="Geben Sie hier einen Namen für die Eigenschaft der Kennzahl ein." required>
                    <input type="text" name="desc1" placeholder="Beschreibung von Eigenschaft 1"
                        title="Geben Sie hier eine Beschreibung für die Eigenschaft der Kennzahl ein." required>
                </div>

                <input class="button" type="button" value="Eigenschaft hinzufügen" id="add" />

                <span style="display:block; height: 20px;"></span>

                <!-- Submits data to server. -->
                <input type="submit" value="Thema erstellen">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>