<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <meta charset="utf-8" />
    <title>Chart.js demo</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <style>
        .dropdown {
            width: 30%;
            margin-bottom: 15px;
            -webkit-appearance: none;
            -moz-appearance: window;
            border: none;
            background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
            background-repeat: no-repeat;
            background-position: right center;
        }
    </style>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <div style="text-align:center;">
        <select id="graph" class="dropdown">
            <option value="bar">Bar-Chart</option>
            <option value="line">Line-Chart</option>
            <option value="pie">Pie-Chart</option>
        </select>
    </div>

    <div style="text-align:center;">
        <canvas id="chart" width="600" height="400"></canvas>
    </div>

    <script>
        var selectAction = document.getElementById("graph");
        var currentChart;
        var chart = document.getElementById('chart').getContext('2d');

        selectAction.onchange = function (e) {
            if (!e) {
                var e = window.event;
            }

            var svalue = this.options[this.selectedIndex].value;
            if (currentChart) {
                currentChart.destroy();
            }

            if (svalue === "line") {
                currentChart = new Chart(chart).Line(buyerData);
            } else if (svalue === "pie") {
                currentChart = new Chart(chart).Pie(pieData, pieOptions);
            } else if (svalue === "bar") {
                currentChart = new Chart(chart).Bar(barData);
            }
        }

        var buyerData = {
            labels: ["Januar", "Februar", "März", "April", "Mai", "Juni"],
            datasets: [{
                fillColor: "rgba(172,194,132,0.4)",
                strokeColor: "#ACC26D",
                pointColor: "#fff",
                pointStrokeColor: "#9DB86D",
                data: [203, 156, 99, 251, 305, 247]
            }]
        }

        var pieData = [{
                value: 20,
                color: "#878BB6"
            },
            {
                value: 40,
                color: "#4ACAB4"
            },
            {
                value: 10,
                color: "#FF8153"
            },
            {
                value: 30,
                color: "#FFEA88"
            }
        ];

        var pieOptions = {
            segmentShowStroke: false,
            animateScale: true
        }

        var barData = {
            labels: ["January", "February", "March", "April", "May", "June"],
            datasets: [{
                    fillColor: "#48A497",
                    strokeColor: "#48A4D1",
                    data: [456, 479, 324, 569, 702, 600]
                },
                {
                    fillColor: "rgba(73,188,170,0.4)",
                    strokeColor: "rgba(72,174,209,0.4)",
                    data: [364, 504, 605, 400, 345, 320]
                }
            ]
        }
    </script>
</body>

</html>