<!DOCTYPE html>
<html lang="en">

<!-- TODO: Tabellen-->

<head>
    <% include ../partials/head %>
    <meta charset="utf-8" />
    <title>Chart.js demo</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <div style="text-align:center;">
        Wählen sie das entsprechende zu visualisierende Thema aus. Im zweiten Dropdown Menü stehen ihnen mehrere
        Visualisierungoptionen zur Verfügung. Ebenso ist die Darstellung als pure Tabelle möglich.
    </div>
    <span style="display:block; height: 15px;"></span>
    <div style="text-align:center;">
        <select id="measure" class="dropdownS">
            <option value="bar">Kennzahl</option>
        </select>
        <select id="graph" class="dropdown">
            <option value="bar">Bar-Chart</option>
            <option value="line">Line-Chart</option>
            <option value="pie">Pie-Chart</option>
        </select>
    </div>

    <div style="text-align:center;">
        <canvas id="chart" width="600" height="400"></canvas>
    </div>

    <script src="/scripts/graph.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>