<!DOCTYPE html>
<html lang="de">

<!-- Displays simple help page with info on using the system. -->

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/faq.css"> <!-- Resource style -->
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <!-- Shows help topics for certain functions of the system in collapsibles. -->

    <main>
        <span style="display:block; height: 10px;"></span>
        <h1 style="text-align: center; font-family: Tahoma, Geneva, sans-serif; font-weight: bold">Hilfeübersicht</h1>
        <span style="display:block; height: 10px;"></span>

        <h3 style="text-align: center">Login/Benutzer:</h3>
        <span style="display:block; height: 10px;"></span>

        <button class="collapsible">Anmeldung</button>
        <!-- TODO: Möglichkeit zum Zurücksetzen/Ändern des Passworts -->
        <div class="content">
            <p>Nach dem Aufrufen der Seite landen Sie auf der Anmeldungsseite der Anwendung, geben Sie hier die ihnen
                zugewiesenen Anmeldedaten ein. Sollten Sie ihr Passwort vergessen haben wenden Sie sich an den
                Administrator des Systems.<br>
                Geben Sie ihre Anmeldedaten falsch ein wird ihnen eine entsprechende Rückmeldung angezeigt und sie haben
                die Möglichkeit sie erneut einzugeben. Nach mehreren gescheiterten Anmeldeversuchen wird die
                Anmeldung für einen bestimmten Zeitraum gesperrt.
            </p>
        </div>
        <button class="collapsible">Benutzerrollen</button>
        <div class="content">
            <p>Bei der Erstellung ihres Accounts wurde Ihnen einen Rolle zugewiesen. Anhand ihrer Rolle wird Ihnen
                Zugriff auf die verschiedenen Bereiche des Systems gegeben.<br>
                Sollten Sie nicht den nötigen Zugriff auf benötigte Bereiche des Systems haben wenden Sie sich bitte an
                den Administrator oder Verwalter des Systems um eventuell weitere Zugriffsrechte zu erhalten.
            </p>
        </div>
        <button class="collapsible">Logout</button>
        <div class="content">
            <p>Melden Sie sich bitte nach der Benutzung des Systems wieder ab. Sind sie inaktiv werden Sie nach 30
                Minuten automatisch vom System abgemeldet und müssen sich bei der nächsten Benutzung wieder anmelden.
            </p>
        </div>
        <span style="display:block; height: 20px;"></span>

        <h3 style="text-align: center">Erklärung der Benutzer-Funktionen:</h3>
        <span style="display:block; height: 10px;"></span>

        <button class="collapsible">Funktionsübersicht</button>
        <div class="content">
            <p>Nach der Anmeldung finden Sie sich auf der Startseite der Anwendung wieder. Von dort aus können Sie sich
                Kennzahlen anzeigen lassen, Daten eintragen und je nach ihrer Rolle Kennzahlen erstellen und Attribute
                zu bestehenden Kennzahlen hinzufügen.<br>
                Im oberen Teil finden Sie eine Navigationsleiste, die es Ihnen ermöglicht sich auszuloggen, zur
                Startseite zurückzukehren sowie die Hilfe und Systeminformationen anzuzeigen.
            </p>
        </div>
        <button class="collapsible">Kennzahl-Visualisierungen</button>
        <div class="content">
            <p>
                Hier werden bereits im System hinterlegte Kennzahlen visualisiert. Wählen Sie dazu eine Kennzahl,
                Eigenschaft und Zeitraum aus. Die Möglichkeiten zur Auswahl des Zeitraums sind an den Erfassungszyklus
                der Kennzahl angepasst. Ebenso stehen Ihnen mehrere Typen von Graphen zur Visualisierung zur
                Verfügung. <br>
                Unterhalb der Darstellung als Graphen ist ebenso standardmäßig die gesamte Kennzahl im ausgewählten
                Zeitraum als Tabelle eingeblendet.
            </p>
        </div>
        <button class="collapsible">Eintragen von Daten</button>
        <div class="content">
            <p>
                Möchten Sie Daten zu einer Kennzahl hinzufügen wählen Sie die Kennzahl und den entsprechenden Zeitraum
                aus. Nun werden Ihnen alle Eigenschaften der Kennzahl angezeigt. Füllen Sie diese entsprechend aus und
                schicken Sie sie mit Hilfe des Buttons ab. Sie werden nun im System hinterlegt und sind in der
                Visualisierungsansicht verfügbar.
            </p>
        </div>
        <button class="collapsible">Erstellen einer neuen Kennzahl</button>
        <div class="content">
            <p>
                Zur Erstellung müssen alle erforderlichen Felder ausgefüllt werden. Möchten Sie, dass die Kennzahl nur
                von einer bestimmten Benutzerrolle eingesehen werden kann legen Sie diese im Feld Rolle fest.<br>
                Über den Button Eigenschaft hinzufügen können Sie dynamisch mehrere Eigenschaften zu der Kennzahl
                hinzufügen. Thema erstellen hinterlegt die Daten im System. Daten für die Kennzahl können nun
                eingetragen und visualisiert werden.
            </p>
        </div>
        <button class="collapsible">Hinzufügen von Attributen zu einer Kennzahl</button>
        <div class="content">
            <p>
                Wählen Sie diese Option wenn sie zu einer bereits bestehenden Kennzahl neue Attribute hinzufügen
                möchten.
            </p>
        </div>
        <span style="display:block; height: 20px;"></span>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- Load script for displaying content of collapsible-->
    <script src="/scripts/helpPage.js"></script>

</body>

</html>