<!DOCTYPE html>
<html lang="eng">

<head>
	<% include ../partials/head %>
	<style>
		.button {
			width: 30%;
			padding: 15px;
			background-color: #535b63;
			border-radius: 4px;
			margin-top: 15px;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
	</style>
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	<div style="text-align:center;">
		<main>
			<div>
				<a href="/visual"><button class="button">Visualisierungen anzeigen</button></a>
			</div>
			<div>
				<a href="/submit"><button class="button">Eingabeformular für Kennzahlen</button></a>
			</div>
			<div>
				<a href="/create"><button class="button">Neue Kennzahl anlegen</button></a>
			</div>
		</main>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>