<!DOCTYPE html>
<html lang="de">

<!-- 
Landing page after login, display different possibilities to interact with the data. 
Has header and footer for navigation and info 
-->

<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div style="text-align:center;">
			<div>
				<a href="/visual"><button class="button">Visualisierung bestehender Kennzahlen</button></a>
			</div>
			<div>
				<a href="/submit"><button class="button">Eingabeformular für Kennzahlen</button></a>
			</div>
			<div>
				<a href="/createMeasure"><button class="button">Neue Kennzahl anlegen</button></a>
			</div>
			<div>
				<a href="/addAttribute"><button class="button">Neue Eigenschaft zu Kennzahl hinzufügen</button></a>
			</div>
			<span style="display:block; height: 300px;"></span>
			<div>
				<a href="/test"><button class="button">Test</button></a>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>