<!-- 
Landing page after login, display different possibilities to interact with the data. 
Has header and footer for navigation and info.
-->

<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<!-- Load header, every page hast this. -->
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- Buttons for the different sections of the system. -->
		<div style="text-align:center;">
			<div>
				<a href="/visual"><button title="Öffnet Übersicht zum Abrufen und Darstellen von Kennzahle."
						class="button">Visualisierung bestehender Kennzahlen</button></a>
			</div>
			<div>
				<a href="/submit"><button title="Öffnet Übersicht zur Eingabe von Kennzahlendaten."
						class="button">Eingabeformular für Kennzahlen</button></a>
			</div>
			<div>
				<a href="/createMeasure"><button title="Öffnet Menü zur Erstellung neuer Kennzahlen."
						class="button">Neue
						Kennzahl anlegen</button></a>
			</div>
			<div>
				<a href="/changeMeasure"><button
						title="Öffnet Menü zur Bearbeitung von bereits existierenden Kennzahlen."
						class="button">Bestehende Kennzahl bearbeiten</button></a>
			</div>
			<div>
				<a href="/measureHelp"><button title="Zeigt Beschreibung zu allen Kennzahlen im System."
						class="button">Beschreibungen der Kennzahlen anzeigen</button></a>
			</div>
		</div>
	</main>

	<!--Clear existing sessionStorage (= reportData). Could also be done somewhere else. -->
	<script>
		window.sessionStorage.clear();
	</script>

	<!-- Load footer, every page has this. -->
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>