<!-- 
Landing page after login, display different possibilities to interact with the data. 
Has header and footer for navigation and info.
-->

<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<!-- Load header, every page hast this. -->
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- Buttons for the different sections of the system. -->
		<div style="text-align:center;">
			<div>
				<a href="/visual"><button class="button">Visualisierung bestehender Kennzahlen</button></a>
			</div>
			<div>
				<a href="/submit"><button class="button">Eingabeformular für Kennzahlen</button></a>
			</div>
			<div>
				<a href="/createMeasure"><button class="button">Neue Kennzahl anlegen</button></a>
			</div>
			<div>
				<a href="/changeMeasure"><button class="button">Bestehende Kennzahl bearbeiten</button></a>
			</div>
			<div>
				<a href="/measureHelp"><button class="button">Beschreibungen der Kennzahlen anzeigen</button></a>
			</div>
			<div>
				<a href="/measureReport"><button class="button">Report für mehrere Kennzahlen erstellen</button></a>
			</div>

		</div>
	</main>

	<!-- Load footer, every page has this. -->
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>