<!DOCTYPE html>
<html lang="eng">

<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	<div style="text-align:center;">
		<main>
			<div>
				<a href="/visual"><button class="button">Visualisierungen anzeigen</button></a>
			</div>
			<span style="display:block; height: 25px;"></span>
			<div>
				<a href="/submit"><button class="button">Eingabeformular für Kennzahlen</button></a>
			</div>
			<span style="display:block; height: 25px;"></span>
			<div>
				<a href="/createTheme"><button class="button">Neues Thema anlegen</button></a>
			</div>
			<div>
				<a href="/addMeasure"><button class="button">Neue Kennzahl zu Thema hinzufügen</button></a>
			</div>
		</main>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>