<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Kennzahlen Test</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div class="login-form">
		<h1>Kennzahlen - Login</h1>
		<form action="/auth" method="POST">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<span style="display:block; height: 10px;"></span>
			<input type="submit" value="Login">
		</form>
	</div>

</html>