<!--
Login page/Landing page of the website.
-->

<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<!-- Create basic login form. -->
	<main style="text-align: center">
		<div class="login-form">
			<h1>Kennzahlensystem</h1>
			<h2>Anmeldung</h2>
			<form action="<%= process.env.BASEURL %>/auth" method="POST">
				<input type="text" name="username" placeholder="Benutzername" required>
				<input type="password" name="password" placeholder="Passwort" required>
				<span style="display:block; height: 10px;"></span>
				<input type="submit" value="Login">
			</form>
		</div>

		<div>
			Wenden Sie sich bitte an den Administrator, falls Sie einen Account benötigen sollten.<br>
			Nach einer Inaktivität von einer halben Stunde erfolgt eine automatische Abmeldung.
		</div>
		<br>
		<div>
			Weitere Informationen zu dieser Software finden Sie unter 
			<a>https://github.com/franzkroll/kennzahlen</a>
		</div>
	</main>

</body>

</html>