<!-- 
Shows selection menus with measures and years with the option to add more.
Has then the option to create a report from the selected measures, this should
return a pdf with the data.
-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <!-- Load scripts and passed variables. -->
        <script src="/scripts/reportHelperPDF.js"></script>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>