<!-- 
Shows selection menus with measures and years with the option to add more.
Has then the option to create a report from the selected measures, this should
return a pdf with the data.
-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Wählen sie die Kennzahlen aus zu denen Sie einen Report erstellen möchten. Report erstellen stellt eine PDF
            Datei zum Download bereit.
        </div>
        <!-- Displays error/success text. -->
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text"> <%- text -%></div>
        <span style="display:block; height: 10px;"></span>

        <!--Dropdown menus for measure and year selection, button queries data from mysql. -->
        <div style="text-align:center;">
            <form action="report" method="post">
                <div id="clone0">
                    <select id="measure" style="width:50%" name="measure" class="dropdownS" required></select>
                    <select style="width: 20%" id="year" name="year" class="dropdownS" required></select>
                </div>

                <!-- New selection menus get added here. -->
                <div id="addDiv">
                </div>
                <span style="display:block; height: 5px;"></span>

                <!-- Adds new selection fields. -->
                <input class="button" type="button" value="Kennzahl hinzufügen" id="addBtn" />

                <!-- Sends request to the server with request data.-->
                <div style="text-align: center"><button type="submit" id="button" class="button">Report
                        erstellen</button>
                </div>
            </form>
        </div>

        <!-- Load scripts and passed variables. -->
        <script>
            let measureList = '<%- measureList %>';
        </script>

        <script src="/scripts/reportHelper.js"></script>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>