<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Bitte geben Sie alle Werte der ausgewählten Kennzahl ein und wählen Sie den Zeitraum. Eintragen schickt die
            Daten ab.
        </div>
        <span style="display:block; height: 10px;"></span>
        <div style=" text-align:center;margin-bottom: 15px;margin-right: 10px">
            <select id="theme" class="dropdownS">
                <option value="bar">Thema 1.1</option>
                <option value="bar">Thema 1.2</option>
                <option value="bar">Thema 1.3</option>
            </select>
            <select id="duration" class="dropdownS">
                <option value="bar">Juli 2019</option>
            </select>
        </div>

        <div class="login-formS">
            <form action="submit" method="POST">
                <!-- TODO: add as many text fields as theme as measures -->
                <input title="Erklärung zur Eigenschaft" type="text" name="var1" placeholder="Eigenschaft 1" required>
                <input title="Erklärung zur Eigenschaft" type="text" name="var2" placeholder="Eigenschaft 2" required>
                <input title="Erklärung zur Eigenschaft" type="text" name="var3" placeholder="Eigenschaft 3" required>
                <input title="Erklärung zur Eigenschaft" type="text" name="var4" placeholder="Eigenschaft 4" required>
                <input title="Erklärung zur Eigenschaft" type="text" name="var5" placeholder="Eigenschaft 5" required>
                <input title="Erklärung zur Eigenschaft" type="text" name="var6" placeholder="Eigenschaft 6" required>

                <span style="display:block; height: 10px;"></span>

                <input type="submit" value="Eintragen">
            </form>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>