<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Kennzahlen Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div style="text-align:center;margin-bottom: 15px;margin-right: 10px">
            <select id="graph" class="dropdownS">
                <option value="bar">Thema 1.1</option>
            </select>
            <select id="graph" class="dropdownS">
                <option value="bar">Zeitraum</option>
            </select>
        </div>

        <div class="login-formS">
            <form action="auth" method="POST">
                <!-- TODO: rename username -->
                <input type="text" name="username" placeholder="Kennzahl 1" required>
                <input type="text" name="username" placeholder="Kennzahl 2" required>
                <input type="text" name="username" placeholder="Kennzahl 3" required>
                <input type="text" name="username" placeholder="Kennzahl 4" required>
                <input type="text" name="username" placeholder="Kennzahl 5" required>
                <input type="text" name="username" placeholder="Kennzahl 6" required>
                <input type="submit" value="Eintragen">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>