<!DOCTYPE html>
<html lang="de">

<!-- TODO: comment -->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Bitte geben Sie alle Werte der ausgewählten Kennzahl ein und wählen Sie den Zeitraum. Eintragen schickt die
            Daten ab.
        </div>
        <span style="display:block; height: 10px;"></span>
        <div style=" text-align:center;margin-bottom: 15px;margin-right: 10px">
            <select style="width:30%" id="measure" class="dropdownS">
            </select>
            <select id="duration" class="dropdownS">
            </select>
        </div>

        <div class="login-formS">
            <form action="submit" method="POST">
                <!-- TODO: add as many text fields as theme as measures -->
                <div id="container">
                </div>
                <span style="display:block; height: 10px;"></span>

                <input type="submit" value="Eintragen">
            </form>
        </div>

    </main>

    <script>
        const measureData = '<%- measureListData %>'
    </script>

    <script src="/scripts/submitHelper.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>