<!DOCTYPE html>
<html lang="en">

<!-- TODO: Tabellen-->

<head>
    <% include ../partials/head %>
    <meta charset="utf-8" />
    <title>Chart.js demo</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <span style="display:block; height: 10px;"></span>
    <div style="text-align:center;">
        Wählen sie das entsprechende zu visualisierende Thema aus. Im zweiten Dropdown Menü stehen ihnen mehrere
        Visualisierungoptionen zur Verfügung. Ebenso ist die Darstellung als Tabelle möglich.
    </div>
    <span style="display:block; height: 10px;"></span>
    <div style="text-align:center;">
        <select id="measure" class="dropdownS">
            <option value="bar">Kennzahl</option>
        </select>
        <select id="graph" class="dropdown">
            <option value="bar">Balkendiagramm</option>
            <option value="line">Liniendiagramm</option>
            <option value="pie">Kuchendiagramm</option>
        </select>
    </div>

    <div style="text-align:center;">
        <canvas id="chart" width="600" height="400"></canvas>
    </div>

    <span style="display:block; height: 10px;"></span>

    <div style="text-align:center">
        <!-- TODO: create table-->
        <button onClick="showTable()" class="button">Als Tabelle anzeigen</button>
    </div>


    <div id="table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Januar 2019</th>
                    <th>Februar 2019</th>
                    <th>März 2019</th>
                    <th>April 2019</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-column="1">Kennzahl 1</td>
                    <td data-column="2">2</td>
                    <td data-column="3">3</td>
                    <td data-column="4">6</td>
                    <td data-column="5">1</td>
                </tr>
                <tr>
                    <td data-column="1">Kennzahl 2</td>
                    <td data-column="2">5</td>
                    <td data-column="3">3</td>
                    <td data-column="4">1</td>
                    <td data-column="5">8</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/scripts/visualHelper.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>