<!DOCTYPE html>
<html lang="de">

<!-- 
Loads available measures and shows table, if data isn't present it has to be loaded 
in with 'Daten abfragen'. Bottom section contains graphs create with Chart.js
-->

<head>
    <% include ../partials/head %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            W채hlen sie die zu visualisierende Kennzahl aus. Im Dropdown Men체 stehen ihnen mehrere
            Visualisierungoptionen zur Verf체gung.
        </div>
        <!-- Displays error/success text. -->
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text"> <%- text -%></div>
        <span style="display:block; height: 10px;"></span>

        <!--Dropdown menus for measure and year selection, button queries data from mysql. -->
        <div style="text-align:center;">
            <form action="visual" method="post">
                <select id="measure" style="width:50%" name="measure" class="dropdownS"></select>
                <select style="width: 20%" id="year" name="year" class="dropdownS">
                </select>
                <div style="text-align: center"><button type="submit" class="button">Daten abfragen</button></div>
            </form>
        </div>
        <div>
            <!-- Table with first row, later rows are appended in helper script. -->
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Eigenschaft der Kennzahl</th>
                        <th>Jahr</th>
                        <th>Januar</th>
                        <th>Februar</th>
                        <th>M채rz</th>
                        <th>April</th>
                        <th>Mai</th>
                        <th>Juni</th>
                        <th>Juli</th>
                        <th>August</th>
                        <th>September</th>
                        <th>Oktobber</th>
                        <th>November</th>
                        <th>Dezember</th>
                    </tr>
                </thead>
            </table>
        </div>

        <!-- Contains dropdown selection for graph options and canvas for graphs. -->
        <div style="text-align: center">
            <select id="graph" class="dropdownS">
                <option value="bar">Balkendiagramm</option>
                <option value="line">Liniendiagramm</option>
                <option value="radar">Radardiagramm</option>
            </select>
        </div>
        <span style="display:block; height: 10px;"></span>

        <div style="text-align:center;">
            <canvas id="chart" width="600" height="400"></canvas>
        </div>
    </main>

    <!-- Load sent data and helper script. -->
    <script>
        const loadedTableName = '<%- loadedTable %>'
        const measureData = '<%- measureData %>';
        const measureListData = '<%- measureListData %>'
    </script>

    <script src="/scripts/visualHelper.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>