<!DOCTYPE html>
<html lang="en">

<!-- TODO: comment -->

<head>
    <% include ../partials/head %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            Wählen sie das entsprechende zu visualisierende Thema aus. Im zweiten Dropdown Menü stehen ihnen mehrere
            Visualisierungoptionen zur Verfügung. Ebenso ist die Darstellung als Tabelle möglich.
        </div>
        <span style="display:block; height: 10px;"></span>
        <div style="text-align:center;">
            <!-- TODO: load data here, display possible entries by tables -->
            <select id="theme" class="dropdownS">
                <option value="val1">Kennzahl 1.1</option>
                <option value="val2">Kennzahl 1.2</option>
            </select>
            <select id="measure" class="dropdownS">
                <option value="val1">Eigenschaft 1.1.1</option>
                <option value="val2">Eigenschaft 1.1.2</option>
            </select>
            <select style="width: 10%" id="graph" class="dropdownS">
                <option value="bar">2018</option>
                <option value="line">2019</option>
            </select>
            <!-- TODO: maybe more options -->
            <select id="graph" class="dropdownS">
                <option value="bar">Balkendiagramm</option>
                <option value="line">Liniendiagramm</option>
                <option value="pie">Kuchendiagramm</option>
            </select>
        </div>

        <span style="display:block; height: 10px;"></span>

        <div style="text-align:center;">
            <canvas id="chart" width="600" height="400"></canvas>
        </div>

        <span style="display:block; height: 30px;"></span>

        <div style="text-align:center">
            <!-- TODO: Fill table with data loaded from mysql-->
            <button onClick="showTable()" class="button">Tabelle ein-/ausblenden</button>
        </div>

        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Januar 2019</th>
                        <th>Februar 2019</th>
                        <th>März 2019</th>
                        <th>April 2019</th>
                        <th>Mai 2019</th>
                        <th>Juni 2019</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-column="1">Eigenschaft 1.1.1</td>
                        <td data-column="2">2</td>
                        <td data-column="3">3</td>
                        <td data-column="4">6</td>
                        <td data-column="5">1</td>
                        <td data-column="5">3</td>
                        <td data-column="5">2</td>

                    </tr>
                    <tr>
                        <td data-column="1">Eigenschaft 1.1.2</td>
                        <td data-column="2">5</td>
                        <td data-column="3">3</td>
                        <td data-column="4">1</td>
                        <td data-column="5">8</td>
                        <td data-column="5">1</td>
                        <td data-column="5">8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="/scripts/visualHelper.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>