<!-- Simple admin index page for accessing admin functionalities. -->

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div class="misc-text">
            <%- text %>
        </div>
        <!-- Show different selection options for admin functions. -->
        <div style="text-align:center;">
            <div>
                <a href="/status"><button style="width:300px" class="button">Serverstatistiken</button></a>
            </div>
            <div>
                <a href="/createUser"><button style="width:300px" class="button">Neuen Benutzer erstellen</button></a>
            </div>
            <div>
                <a href="/showUser"><button style="width:300px" class="button">Aktuell registrierte Benutzer
                        anzeigen</button></a>
            </div>
            <div>
                <a href="/showMeasures"><button style="width:300px" class="button">Kennzahlen anzeigen und
                        bearbeiten</button></a>
            </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>