<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div style="text-align:center;">
            <div>
                <a href="/stats"><button style="width:300px" class="button">Serverstatistiken</button></a>
            </div>
            <span style="display:block; height: 10px;"></span>
            <div>
                <a href="/createUser"><button style="width:300px" class="button">Neuen Benutzer erstellen</button></a>
            </div>
            <span style="display:block; height: 10px;"></span>
            <!-- TODO: show user database with table, add functionality to delete users -->
            <div>
                <a href="/showUsers"><button style="width:300px" class="button">Benutzer im System anzeigen</button></a>
            </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>