<!-- Form for creating a new user, with username, password, roles and e-mail. An ID is automatically get in mysql. -->

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <!-- Add mandate here. -->

    <main>
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text">
            <%- text %>
        </div>
        <span style="display:block; height: 17px;"></span>
        <!-- Form for entering new user data, submit sends request to server. -->
        <div class="login-formS">
            <form action="createUser" method="POST">
                <input type="text" name="username" placeholder="Benutzername"
                    title="Geben Sie hier den Benutzernamen ein, Benutzernamen dürfen nur einmal im System vorkommen."
                    required>
                <input type="password" name="password" placeholder="Passwort"
                    title="Geben Sie hier das Passwort für den Benutzer ein, es muss mindestens 8 Zeichen lang sein, einen Großbuchstaben und eine Zahl enthalten."
                    required>
                <input type="password" name="password2" placeholder="Passwort erneut eingeben"
                    title="Bitte geben Sie hier das Passwort hier erneut ein. Beide Passwörter müssen übereinstimmen."
                    required>
                <input type="email" name="mail" placeholder="E-Mail"
                    title="Legen Sie hier eine gültige E-Mail Adresse fest, Adressen dürfen nicht doppelt vorkommen."
                    required>
                <input type="text" name="role" placeholder="Rolle"
                    title="Legen Sie hier eine Rolle für den Benutzer fest. Mehrere Rollen müssen durch einen Unterstrich getrennt werden."
                    required>
                <input type="text" name="mandate" placeholder="Mandat"
                    title="Legen Sie hier ein Mandat für den Benutzer fest. * gibt Zugriff auf alle Bereiche. Mehrere Mandate müssen durch einen Unterstrich getrennt werden."
                    required>
                <span style=" display:block; height: 15px;"></span>
                <input type="submit" value="Benutzer anlegen">
            </form>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>