<head>
    <% include ../../partials/head %>
</head>

<!-- Simple page for showing measures currently in the system. Löschen deletes the currently selected measures. -->

<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <!-- Displays error/success text. -->
        <span style="display:block; height: 10px;"></span>
        <div class="misc-text"> <%- text -%></div>
        <span style="display:block; height: 15px;"></span>

        <!-- Dropdown menus and button for deleting measures. -->
        <div style="text-align:center">
            <form action="deleteMeasure" method="post">
                <div>
                    <select name="measureSelect" id="measureSelect"
                        title="Wählen Sie hier die zu Löschende Kennzahl aus." style="width:40%; margin-right: 30px"
                        class="dropdown">ID</select>
                    <select name="yearSelect" id="yearSelect"
                        title="Wählen Sie hier das zu  Löschende Jahr der Kennzahl aus."
                        style="width:30%; margin-right: 30px" class="dropdown">ID</select>
                </div>
                <a href="/showMeasures"><button type="submit"
                        onclick="return confirm('Sind sie sicher, dass sie die Kennzahl löschen möchten? Dies löscht alle Daten permanent!');"
                        style="width:20%;background-color: #eb2d53" class="button">Löschen</button></a>
            </form>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>

<!-- Load in measure data and call helper script. -->
<script>
    const measures = '<%- measures %>';
</script>

<script src="/scripts/deleteMeasureHelper.js"></script>

</html>