<!-- 
Shows users that are currently registered in the system with their attributes.
Also has a dropdown menu, in which a user can be selected and deleted from the database.
-->

<head>
    <% include ../../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <span style="display:block; height: 10px;"></span>

        <div class="misc-text">
            Hier sehen Sie eine Übersicht über die aktuell registrierten Benutzer. Im unteren Teil ist es möglich den
            ausgewählten Benutzer zu Löschen.
        </div>

        <!-- Prepare table here for data insertion. -->
        <div style="text-align: center">
            <table style="width:70%" id="userTable">
                <tr>
                    <th style="width: 7%">ID</th>
                    <th style="width: 20%">Benutzername</th>
                    <th style="width: 20%">Rollen</th>
                    <th style="width: 20%">Mandate</th>
                    <th style="width: 20%">E-Mail</th>
                </tr>
            </table>
        </div>

        <!-- Dropdown menu and button for deleting users. -->
        <div style="text-align:center">
            <form action="deleteUser" method="post">
                <select name="id" id="userDelete" title="Wählen Sie hier den zu Löschenden Benutzer aus."
                    style="width:10%; margin-right: 30px" class="dropdown">ID</select>
                <a href="/register"><button type="submit" title="Löscht den ausgewählten Benutzer." style="width:20%"
                        class="button">Löschen</button></a>
            </form>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>

<script>
    const result = '<%- result %>';
    const currentUser = '<%- user %>';
</script>

<script src="/scripts/showUserHelper.js"></script>

</html>