<!DOCTYPE html>
<html lang="en">

<!-- TODO: show here users  -->

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Benutzername</th>
                    <th>Rolle</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                <!-- todo load in database data -->
                <% print.forEach(function (result) { %>
                <tr>
                    <td><%= result.id %></td>
                    <td><%= result.username %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>