<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div style="text-align: center">
            <table id="userTable">
                <tr>
                    <th>ID</th>
                    <th>Benutzername</th>
                    <th>Rolle</th>
                    <th>E-Mail</th>
                </tr>
            </table>
        </div>
        <span style="display:block; height: 10px;"></span>
        <div style="text-align:center">
            <!-- TODO: show ids and add delete functionality-->
            <form action="deleteUser" method="post">
                <select id="userDelete" style="width:10%; margin-right: 30px" class="dropdown">ID</select>
                <button type="submit" style="width:20%" class="button">Löschen</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>

<script>
    // TODO: move to different file
    var sel = document.getElementById('userDelete');

    const table = document.getElementById("userTable");
    const arRes = '<%- result %>'.split(':');
    const columns = 4;
    let rowCount = 1;
    let cellCount = 0;

    for (i = 0; i < arRes.length - 1; i += columns) {
        let row = table.insertRow(rowCount);
        rowCount++;
        for (j = 0; j < columns; j++) {
            let cell = row.insertCell(j);
            cell.innerHTML = arRes[i + j];
        }

        //fill select
        var opt = document.createElement('option');
        opt.appendChild(document.createTextNode('ID' + arRes[i]));
        opt.value = arRes[i];
        sel.appendChild(opt);
    }
</script>

</html>